<!DOCTYPE html>
<html>

<head>
    <title>cctv</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="css/custom-min.css" rel="stylesheet" />
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/underscore-min.js"></script>


</head>

<body>
    <div class="jumbotron" style="margin:0; padding:0;">
        <div class="container">
            <div class="col-xs-9">
                <div class="row row-left">
                    <div class="col-xs-3 one">
                        <div class="ale">
                            <img src="image/<%- selectedCctvInfo.color %>_btn_s.png" />
                            <button type="button" class="btn btn-success" style="width:100px; margin-left:22px;"><%- selectedCctvInfo.msg %></button>
                        </div>

                    </div>
                    <div class="col-xs-9" style=" height:220px;">
                        <h3 style="margin-top:70px;">주소 : <%- selectedCctvInfo.address %></h3>
                        <h3>현재 시간 : <%- currDate %></h3>
                    </div>
                </div>

                <div class="row row-left">
                    <div class="col-xs-9 two">
                        <div class="cctv_main img-rounded">
                            <img id="selected-preview" src="image/illegal/<%- selectedCctvInfo.img %>.png" width="560" height="380" />
                        </div>
                    </div>



                    <div id="preview-list" class="col-xs-3 thr" style="height:460px;">
                        <p>현재 사진</p>
                        <img name="preview" class="selectedPreview" data-id="<%= selectedCctvInfo.img %>" src="image/illegal/<%- selectedCctvInfo.img %>.png" width="160" height="100" />
                        <p><%- selectedCctvInfo.measure_date %></p>
                        <%
                          if(!_.isEmpty(selectedCctvHistory.startIllegalObj)){
                            var target = selectedCctvHistory.startIllegalObj;
                        %>
                        <p>이전 불법주차 시작 사진</p>
                        <img name="preview" data-id="<%= target.img %>" class="cctv_sub" src="image/illegal/<%= target.img %>.png" width="160" height="100" />
                        <p><%= target.measure_date %></p>
                        <%
                        }
                        %>
                        <%
                        if(!_.isEmpty(selectedCctvHistory.endIllegalObj)){
                          var targetEnd = selectedCctvHistory.endIllegalObj;
                      %>
                      <p>이전 불법주차 종료 사진</p>
                      <img name="preview" class="cctv_sub" data-id="<%= targetEnd.img %>" src="image/illegal/<%= targetEnd.img %>.png" width="160" height="100" />
                      <p><%= targetEnd.measure_date %></p>
                      <%
                      }
                      %>
                    </div>


                </div>
                <!-- <div id="preview-info" class="row row-left">

                    <h2>불법주차 감지 시작 사진</h2>
                    <h2>불법 주차 감지 시각 : 14:42 PM</h2>
                </div> -->
            </div>

            <div class="col-xs-3">
              <div class="row row-right" style="border-bottom:1px solid #cbc9c9;">
                  <p style="font-size:25px; font-weight:bold; text-align:center; ">목록</p>
              </div>
              <%
                for(var count = 0; count < cctvList.length; count++){
                  var cctvInfo = cctvList[count];
                  var css = cctvInfo.cctv_id === selectedCctvInfo.cctv_id ? 'selectedCctv' : 'cctv_sub';
                
                  %>
                  <div class="row row-right" style="border:1px solid black">
                      <p><span style="font-size: 18px; font-weight: bold; text-indent: 5px"><%= cctvInfo.name %></span></p>
                      <p><span style="font-size: 14px; text-indent: 5px"><%= cctvInfo.address %></span></p>
                      <img src="image/<%= cctvInfo.color %>_btn_s.png" width="80" height="60" />
                      <img class="<%= css %>" onclick="selectList(this)" data-id="<%= cctvInfo.cctv_id %>" src="image/illegal/<%= cctvInfo.img %>.png" width="160" height="100" />
                  </div>

              <%
              }
              %>
            </div>
        </div>
    </div>

    <script>
      // 목록 선택 시 페이지 이동
      function selectList(target){
        var cctv_id = target.dataset.id;

        return location.href = "/?cctv_id=" + cctv_id
        
      }


      // 리스트를 클릭시 이벤트 binding
      $("#preview-list img[name=preview]").on('click', function(event){
        // 다른 list 원상복귀
        $("#preview-list img[name=preview]").attr('class', 'cctv_sub');
        // 선택한 녀석만 부각
        $(this).attr('class', 'selectedPreview')
        // 이미지명 가져옴
        var img = $(this).data('id');
        // 이미지 교체
        $("#selected-preview").attr("src", `image/illegal/${img}.png`)
      })
    
    </script>
</body>

</html>